{% extends 'index.html' %}
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'plantilla/stylePlantilla.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'plantilla/styleForm.css' %}">
        <title>Listar maquinas</title>
    {% endblock %}


</head>
<body>

 {% block content %}

    <div class="ext">
        <table>
            <caption>Lista de maquinas </caption>

            <tr>
                <th> Nombre</th>
                <th> Tipo</th>
                <th> Fecha</th>
            </tr>
             {% for d in datos %}
                <tr>
                     <td> {{d.nom}} </td>
                     <td> {{d.tipo}} </td>
                     <td> {{d.fec}} </td>
                </tr>
             {% endfor %}
        </table>
    </div>

 {% endblock %}

</body>
</html>