{% extends "empleado/base.html" %}

{% block content %}
    <h1 class="subtitle">Modificar Producto</h1>
        <form class="create  post-form" method="POST">{% csrf_token %}
            <p>
                <label for="codigo">Codigo:</label>
                    <input type="text" name="codigo" id="codigo" readonly value="{{datos.cod}}">
            </p>
            <p>
                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" id="nombre" maxlength="45" value="{{datos.nom}}">
            </p>

            <p>
                <label for="precio">Precio:</label>
                <input type="text" name="precio" id="precio" maxlength="45" value="{{datos.prec}}" required>
            </p>

            <p>
               <label for="id_Tipo">Tipo:</label>

                <select name="Tipo" id="id_Tipo">
                    <option value="{{datos.idTipoEle}}" selected>{{datos.nomTipoEle}}</option>

                    {% for tipo in datosTipo %}
                        <option value="{{ tipo.id }}">{{ tipo.nom }}</option>
                    {% endfor %}
                </select>
            </p>

             <p>
               <label for="id_proveedor">Proveedor:</label>

                <select name="proveedor" id="id_proveedor">
                    <option value="{{datos.idPrvEle}}" selected>{{datos.nomPrvEle}}</option>

                    {% for tipo in datosProv %}
                        <option value="{{ tipo.id }}">{{ tipo.nom }}</option>
                    {% endfor %}
                </select>
            </p>

            <div class="row ">
                <input type="submit" class="btn " value="Modificar">
            </div>
        </form>
{% endblock %}