{% extends "ebase.html" %}

{% block content %}
    <h1 class="subtitle">Pedidos</h1>
    <div class="container list-pedidos">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Proveedor</th>
                    <th>Producto</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for d in lista %}
                <tr>
                    <td> {{d.fecha}} </td>
                    <td>
                        <a href="/proveedor/{{d.idProv }}/detalle">
                            {{d.proveedor}}
                        </a>
                    </td>
                      <td>
                        <a href="/producto/{{d.idProd }}/detalle">
                            {{d.producto}}
                        </a>
                    </td>
                    <td>
                        <a href="/pedido/{{d.id }}/detalle">
                            <span class="glyphicon glyphicon-option-horizontal"></span>
                        </a>
                    </td>
                     <td>
                        <a href="/pedido/{{d.id }}/eliminar">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}