{% extends "empleado/base.html" %}

{% block content %}
    <div class="container ">
        <h1 class="subtitle">Pedido</h1>
        <div class="row ">
            <div class="col-md-4"></div>

            <div class="col-md-4 detalle2">
                <div class="row">
                    <div class="row">
                        <div class="col-md-6 titulo">
                            <strong>Fecha Ped:</strong>
                        </div>
                        <div class="col-md-6">
                            <strong>
                                <em>{{datos.fechaini}}</em>
                            </strong>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 titulo">
                            <strong>Fecha Ent:</strong>
                        </div>
                        <div class="col-md-6">
                            <strong>
                                <em>{{datos.fechafin}}</em>
                            </strong>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 titulo">
                            <strong>Cantidad:</strong>
                        </div>
                        <div class="col-md-6">
                            <strong>
                                <em>{{datos.cantidad}}</em>
                            </strong>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 titulo">
                            <strong>Estado:</strong>
                        </div>
                        <div class="col-md-6">
                            <strong>
                                <em>{{datos.estado}}</em>
                            </strong>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 titulo">
                            <strong>Producto:</strong>
                        </div>
                        <div class="col-md-6">
                            <strong>
                                <em>{{datos.producto}}</em>
                            </strong>
                        </div>
                    </div>

                     <div class="row">
                        <div class="col-md-6 titulo">
                            <strong>Proveedor:</strong>
                        </div>
                        <div class="col-md-6">
                            <strong>
                                <em>{{datos.proveedor}}</em>
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row d2botones">

            <form>
                <div class="col-md-6">
                    <button  type="submit" formmethod="get" formaction="/inventario/lista" class="btn ">Aceptar
                    </button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}