.ext{
    width: 50%;
    margin-left:25%;
    margin-right:25%;
    text-align: center;
    border-style: dashed;
    margin-top:15px;
}

input[type=submit]{
    margin-bottom: 15px;
}

select{
    margin-left: 15px;
}

label{
    display: inline-block;
    width: 80px;
}

input[type=text]{
    margin-left: 15px;
}

select{
    margin-left: 15px;
    margin-right: 55px;
}

tr{
    text-align:center;
}