{% extends "base.html" %}

{% block content %}
    <div class="container form-register">
        <h3>Registro</h3>
        <div class="row">
            <form method="post">
               {% csrf_token %}
               {{ form.as_p }}
               <div>
                   <button class="btn col-md-12 " type="submit">Registrar</button>
                   <small class="text-muted col-md-12">Ya tienes cuenta?
                            <a href="/login">Entra</a>
                   </small>
               </div>
            </form>
        </div>
    </div>
{% endblock %}