{% extends "ebase.html" %}

{% block content %}
    <h1 class="subtitle">Modificar Notificacion</h1>
        <form class="create  post-form" method="POST">{% csrf_token %}

                <div style="margin-left:5%">
                    {% if messages %}

                        {% for message in messages %}
                            <li> {{ message }}</li>
                        {% endfor %}

                    {% endif %}
                </div>

                <p>
                     <label for="id_Estado">Estado:</label>
                     <select name="Estado" required id="id_Estado">
                         <option value="{{datos.idEstEle}}" selected>{{datos.nomEstEle}}</option>

                        {% for tipo in datosEstado %}
                            <option value="{{ tipo.id }}">{{ tipo.nom }}</option>
                        {% endfor %}
                    </select>
                 </p>

                <p>
                     <label for="id_Usuario">Usuario:</label>
                     <select name="Usuario" required id="id_Usuario">
                         <option value="{{datos.idUsuEle}}" selected>{{datos.nomUsuEle}}</option>

                        {% for tipo in datosUsuario %}
                            <option value="{{ tipo.id }}">{{ tipo.nom }}</option>
                        {% endfor %}
                    </select>
                </p>

                <p>
                     <label for="id_mensaje">Mensaje:</label>
                     <input type="text" name="mensaje" value="{{datos.sms}}" required id="id_mensaje">
                </p>

                <div>
                    <input type="submit" class="btn" value="Actualizar">
                </div>

            </form>
{% endblock %}