<!DOCTYPE html>
{% extends 'index.html' %}
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'plantilla/stylePlantilla.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'plantilla/styleForm.css' %}">
        <title>Modificar Sala</title>
    {% endblock %}


</head>
<body>

 {% block content %}

    <div class="ext">

        {% if not buscado %}
            <form method="GET"> {% csrf_token %}

                {% for field in formId %}
                    <p> {{ field.label_tag }} {{ field }} </p>
                {% endfor %}

                <div>
                    <input type="submit" value="Buscar">

                    {% if messages %}

                        {% for message in messages %}
                            <li> {{ message }}</li>
                        {% endfor %}

                    {% endif %}

                </div>

            </form>
        {% endif %}

         {% if buscado %}

            <form method="POST">{% csrf_token %}
                <p>
                    <label for="nombre">Nombre:</label>
                    <input type="text" name="nombre" id="nombre" maxlength="45" value="{{datos.nombre}}" readonly>
                </p>

                <p>
                    <label for="observaciones">Observacion:</label>
                    <input type="text" name="observaciones" id="observaciones" maxlength="45" value="{{datos.obs}}">
                </p>

                <div>
                    <input type="submit" value="Actualizar">
                </div>

            </form>
        {% endif %}

    </div>

 {% endblock %}

</body>
</html>