{% extends 'index.html' %}
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'plantilla/stylePlantilla.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'plantilla/styleForm.css' %}">
        <title>Modificar mis datos</title>
    {% endblock %}


</head>
<body>

 {% block content %}

    <div class="ext">

        <form method="POST">{% csrf_token %}

            <p>
                <label for="dni">Dni :</label>
                <input type="text" name="dni" id="dni" maxlength="45"  value="{{datos.dni}}" readonly>
            </p>

            <p>
                <label for="nombre">Nombre :</label>
                <input type="text" name="nombre" id="nombre" maxlength="45"  value="{{datos.nom}}" required>
            </p>
            <p>
                <label for="apellidos">Apellidos :</label>
                <input type="text" name="apellidos" id="apellidos" maxlength="45" value="{{datos.ape}}" required>
            </p>

            <p>
                <label for="email">Email :</label>
                <input type="text" name="email" id="email" maxlength="45" value="{{datos.email}}" required>
            </p>

            <p>
                <label for="direccion">Direccion:</label>
                <input type="text" name="direccion" id="direccion" maxlength="45" value="{{datos.dir}}" required>
            </p>

            <p>
                <label for="telefono">Telefono:</label>
                <input type="text" name="telefono" id="telefono" maxlength="45" value="{{datos.tlf}}" required>
            </p>

            <p>
                <label for="password">Contraseña:</label>
                <input type="text" name="password" id="password" maxlength="45" value="{{datos.cnt}}" required>
            </p>

            <div>
                <input type="submit" value="Actualizar">
            </div>

        </form>

    </div>

 {% endblock %}

</body>
</html>