{% extends 'index.html' %}
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'plantilla/stylePlantilla.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'plantilla/styleForm.css' %}">
        <title>Listar tratamientos</title>
    {% endblock %}


</head>
<body>

 {% block content %}

    <div class="ext">
        <table>
            <caption>Lista de tratamientos </caption>

            <tr>
                <th> Fecha</th>
                <th> Empleado</th>
                <th> Entrada</th>
                <th> Salida</th>
            </tr>
             {% for d in datos %}
                <tr>
                     <td> {{d.fecha}} </td>
                     <td> {{d.emp}} </td>
                     <td> {{d.he}} </td>
                     <td> {{d.hs}} </td>
                </tr>
             {% endfor %}
        </table>
    </div>

 {% endblock %}

</body>
</html>