{% extends 'index.html' %}
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'plantilla/stylePlantilla.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'plantilla/styleForm.css' %}">
        <title>Modificar tratamiento</title>
    {% endblock %}


</head>
<body>

 {% block content %}

    <div class="ext">

        {% if not buscado %}
            <form method="GET"> {% csrf_token %}

                {% for field in formId %}
                    <p> {{ field.label_tag }} {{ field }} </p>
                {% endfor %}

                <div>
                    <input type="submit" value="Buscar">

                    {% if messages %}

                        {% for message in messages %}
                            <li> {{ message }}</li>
                        {% endfor %}

                    {% endif %}

                </div>

            </form>
        {% endif %}

         {% if buscado %}

            <form method="POST">{% csrf_token %}
                <p>
                    <label for="id_fecha">Fecha:</label>
                    <input type="text" name="fecha" value={{datos.fecha}} required disabled id="id_fecha" readonly>
                </p>

                <p>
                    <label for="id_empleado">Empleado:</label>
                    <select name="empleado" required id="id_empleado">
                        <option value="{{datos.dni}}">{{datos.nom}}</option>
                    </select>
                </p>

                 <p>
                    <label for="id_horarioentrada">Horarioentrada:</label>
                    <select name="horarioentrada" required id="id_horarioentrada">
                        <option value="{{datos.idEntradaEle}}" selected>{{datos.nomEntradaEle}}</option>

                        {% for tipo in datosEntrada %}
                            <option value="{{ tipo.id }}">{{ tipo.hora }}</option>
                        {% endfor %}
                    </select>
                </p>

                <p>
                    <label for="id_horariosalida">Horariosalida:</label>
                    <select name="horariosalida" required id="id_horariosalida">
                        <option value="{{datos.idSalidaEle}}" selected>{{datos.nomSalidaEle}}</option>

                        {% for tipo in datosSalida %}
                            <option value="{{ tipo.id }}">{{ tipo.hora }}</option>
                        {% endfor %}
                    </select>
                </p>

                <div>
                    <input type="submit" value="Actualizar">
                </div>

            </form>
        {% endif %}

    </div>

 {% endblock %}

</body>
</html>