{% extends "ebase.html" %}

{% block content %}
    <div class="container ">
        <h1 class="subtitle">Tratamiento</h1>
        <div class="row ">
            <div class="col-md-4"></div>

            <div class="col-md-4 detalle">
                <div class="row">
                    <div class="col-md-3 titulo">
                        <strong>Nombre:</strong>
                    </div>
                    <div class="col-md-9 datos">
                        <strong>{{datos.nom}}</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 titulo">
                        <strong>Maquina:</strong>
                    </div>
                    <div class="col-md-9 datos">
                        <strong>{{datos.maq}}</strong>
                        (<em>{{datos.tipomaquina}}</em>)
                    </div>
                </div>
                 <div class="row">
                    <div class="col-md-3 titulo">
                        <strong>Producto:</strong>
                    </div>
                    <div class="col-md-9 datos">
                        <strong>{{datos.pro}}</strong>
                        (<em>{{datos.tipoproducto}}</em>)
                    </div>
                </div>
                <div class="row descripcion">
                    <div class="col-md-12 titulo ">
                        <h4>
                            <strong>Descripcion</strong>
                        </h4>
                    </div>
                    <div class="col-md-12 ">
                        <em>
                        {{datos.des}}
                        </em>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row d2botones">
            <div class="col-md-12 edit">
                <form>
                    <button  type="submit" formmethod="get" formaction="/tratamiento/{{datos.id }}/modificar" class="btn ">Editar
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}