{% extends "ebase.html" %}

{% block content %}
    <div class="container ">
        <h1 class="subtitle">Tratamiento</h1>
        <div class="row ">
            <div class="col-md-4"></div>

            <div class="col-md-4 detalle">
                <div class="row">
                    <ul>
                       <li>
                           <strong>Nombre:</strong>
                           {{datos.nom}}
                       </li>
                       <li>
                           <strong>Maquina:</strong>
                           {{datos.maq}}
                       </li>

                        <li>
                           <strong>Producto:</strong>
                           {{datos.pro}}
                       </li>

                    </ul>
                </div>

                <div class="row descripcion">
                    <h4>
                        <strong>Descripcion:</strong>
                    </h4>
                    <em>
                        {{datos.des}}
                    </em>
                </div>


            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row d2botones">

            <form>
                <div class="col-md-6 edit">
                    <button  type="submit" formmethod="get" formaction="/tratamiento/{{datos.id }}/modificar" class="btn ">Editar
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                </div>
                <div class="col-md-6 del">
                    <button  type="submit" formmethod="get" formaction="/tratamiento/{{datos.id }}/eliminar"class="btn ">Eliminar
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}