{% extends "ebase.html" %}

{% block content %}
    <h1 class="subtitle">Tratamientos</h1>
    <div class="container list-tratamiento">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Maquina</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                {% for d in lista %}
                <tr>
                    <td>
                        <a href="/tratamiento/{{d.id }}/detalle">
                            {{d.nom}}
                        </a>
                    </td>
                    <td> {{d.maq}} </td>
                     <td>
                        <a href="/tratamiento/{{d.id }}/eliminar">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}