/*
oscuro:#0E043D
medio:#254B9A
gris:#DEE1EF
notas:#9BE9D6

*/
/*NAV*/
.home{
  background-color: #254B9A;
}
.navbar {
  background-color: #0E043D;
  border: 1px solid #254B9A;
}

.navbar .navbar-brand, .glyphicon-home, .glyphicon-log-out, .glyphicon-user, .glyphicon-log-in{
    color: #DEE1EF;
}

.navbar .navbar-brand:hover, .glyphicon-home:hover, .glyphicon-log-out:hover,
.glyphicon-user:hover, .glyphicon-log-in:hover{
   color: #9BE9D6;
}
.navbar-nav .dropdown-menu li a{
    color: #E8B12A !important;
}
.navbar .navbar-nav  a:hover{
  color:#9BE9D6 !important;
}

/*NAVBAR DROPDOWN */
.navbar-nav .dropdown-menu{
  background-color: #0E043D !important;

}
.navbar-nav .dropdown-menu li a{
    color: #DEE1EF !important;
}

.navbar-nav .dropdown-menu li a:hover{
    color: #20135C !important;
    background-color: #DBD0BE;
}

 .navbar-nav .open .dropdown-header {
 color: #9BE9D6 !important;

}

.navbar-nav .open .divider {
  background-color: #254B9A;
}


/*FOOTER*/
footer{
  background-color: #0E043D;
  text-align: center;
  color: #DEE1DF;
  position: fixed;
  width: 100%;
  bottom: 0;
}

footer strong{
  color:#6CE5D2;
}


/*REGISTER*/
.form-register .row{
   background-color: #0E043D;
}
.form-register h3{
  color:#0E043D;
  font-weight: bold;
}

.form-register .row .helptext, .form-register .row form ul{
 color: #6CE5D2; 
}

.form-register .row form div button{
  background-color: #254B9A;
  color: #0E043D;
}

.form-register .text-muted a{
    text-decoration: none;
    color: #26CB6C;
}

/*SUBTITLE*/
.subtitle{
  color:#0E043D ;
}

/*TABLES EMPTIES*/
.list-empleados h3{
  color:#254B9A;
}

/*TABLES APPEREANCE*/
.list-empleados h3{
  color:#254B9A;
}

/*TABLES APPEREANCE*/
table,th{
  text-align: center;
  color: #0E043D;
}

tbody tr{
  color: #254B9A;
}

tbody tr:hover, tbody tr:hover a, tbody tr:hover td .glyphicon-trash {
  color: #DBD0BE !important;
  background-color: #0E043D !important;
}

tbody .glyphicon-trash{
  color:  #0E043D;
}
tbody tr:hover td .glyphicon-trash:hover{
  color:  #9BE9D6 !important;
}

tbody td a{
  color: #254B9A;
}

tbody td a:hover{
  text-decoration: none;
   color:  #9BE9D6 !important;
}