/*
oscuro:#005935
medio:#21B176
gris:#DEE1DF
notas:#26CB6C #5EE27C
error:#F2C84B
*/

/*NAV*/
.home{
  background-color: #21B176;
}
.navbar {
  background-color: #005935;
  border: 1px solid #21B176;
}
.navbar .navbar-brand, .glyphicon-home, .glyphicon-log-out, .glyphicon-user, .glyphicon-log-in {
    color: #DEE1EF;
}

.navbar .navbar-brand:hover, .glyphicon-home:hover, .glyphicon-log-out:hover,
.glyphicon-user:hover, .glyphicon-log-in:hover{
   color: #5EE27C;
}

.navbar-nav .dropdown-menu li a{
    color: #21B176 !important;
}

.navbar .navbar-nav  a:hover{
  color:#26CB6C  !important;
}

/*NAVBAR DROPDOWN */
.navbar-nav .dropdown-menu{
  background-color: #005935 !important;

}
.navbar-nav .dropdown-menu li a{
    color: #5EE27C !important;
}

.navbar-nav .dropdown-menu li a:hover{
    color: #005935 !important;
    background-color: #DEE1DF;
}

 .navbar-nav .open .dropdown-header {
 color: #9BE9D6 !important;

}

.navbar-nav .open .divider {
  background-color: #21B176;
}

/*FOOTER*/
footer{
  background-color: #005935;
  text-align: center;
  color: #DEE1DF;
  position: fixed;
  width: 100%;
  bottom: 0;
}

footer strong{
  color:#26CB6C;
}

/*REGISTER*/
.form-register .row{
   background-color: #005935;
}
.form-register h3{
  color:#005935;
  font-weight: bold;
}

.form-register .row .helptext, .form-register .row form ul{
 color: #26CB6C; 
}

.form-register .row form div button {
  background-color: #21B176;
  color: #005935;
}

.form-login .row form div button{
    background-color: #005935 ;
    color: #DEE1DF;
}
.form-register .text-muted a{
    text-decoration: none;
    color: #26CB6C;
}

.form-login .text-muted a{
    text-decoration: none;
    color:#005935;
}