



/*FORMS CREATE*/
.create {
  background-color: #0E043D;
  color: #E8B12A;
  margin: auto;
  width: 40%;
  align-items: center;
 margin-bottom: 5%;
}

.create-longer{
  background-color: #0E043D;
  color: #E8B12A;
  margin: auto;
  width: 45%;
  align-items: center;
}
.create label{
 margin-left:  20%;
  width: 20%
}

.create p {
  padding-top: 4%;
}

.create input, select, textarea{
  width: 40%;
  color: #0E043D;
   
}

.create .row {
  margin: auto;
  width:40%;
  
}

.create input[type="submit"]{
  width: 70%;
  margin-left: 20%;
  margin-bottom: 10%;
  margin-top: 5%;
  background-color: #DC9D00;
  color: #2B197C;
}

/*ALERTS*/
* .alert{
  margin: auto;
  margin-bottom: 2%;
  width: 60%;
  text-align: center;
}



/*TABLE*/


.list-producto, .list-pedidos{
   width: 65%; 
  margin: auto;
}

.list-maquina, .list-tratamiento {
  width: 45%;
  margin: auto;
}

.list-sala{
  width: 35%;
  margin: auto;
}
table,th{
  text-align: center;
  color: #0E043D;
  
}

tbody tr{
  color: #20135C;
}

tbody tr:hover, tbody tr:hover a {
  color: #DBD0BE !important;
  background-color: #0E043D !important;
  
}

tbody .glyphicon-trash:hover{
  color:  #DC9D00;
}

tbody td a{
  color: #0E043D;
}
tbody td a:hover{
  text-decoration: none;
   color:  #DC9D00 !important;
}


/*PERFILES*/
.perfil li{
  list-style-type: none;
  padding: 2%;
  color: #20135C;
  font-style:italic;
}

.perfil strong {
  color: #0E043D;
  font-style:normal;
}
.edit button, .del button {
  width: 30%;
  background-color:  #0E043D;
  color:  #DBD0BE !important;
}

.edit .glyphicon-edit, .del .glyphicon-remove {
  color: #E8B12A;
}

.edit button{
  margin-left: 65%;
}


/*h4 Empty*/
.empty-sms{
  background-color: #E8B12A;
  text-align: center;
  color: #20135C;
  width: 60%;
  margin: auto;
  padding: 10px;
}

/* Detalle */
.detalle{
  background-color: #0E043D;
  padding-top: 4%;
  padding-bottom: 3%;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 2%;
}

.detalle2{
  background-color: #0E043D;
  padding-top: 4%;
  padding-bottom: 3%;
  padding-left: 6%;
  padding-right: 6%;
  margin-bottom: 2%;
}

.detalle, .detalle2 {
  color: #DBD0BE;
}
.detalle2 button:hover{
  background-color: #E8B12A;
}

.detalle .titulo strong, .detalle h4, .detalle2 .titulo strong{
   color: #DC9D00; 
}

.detalle2 .estado button{
  color: #20135C !important;
}
.d2botones button, .d2botones button .glyphicon{
  background-color: #E8B12A;
  color: #0E043D !important;
}

.d2botones {
  margin: auto;
  width: 25%;
  
}

.d2botones button{
  margin: auto;
  width: 100%;
  padding: 6%;
}
