{% extends "empleado/base.html" %}

{% block content %}
    <h1 class="subtitle">Tratamientos</h1>
    <div class="container ">
        {% if lista %}
        <table class="table table-hover list-tratamiento">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Zona</th>
                    <th>Maquina</th>
                    <th>Producto</th>
                    <th>Duracion</th>
                    <th>Precio</th>
                    <th>Espera</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                {% for d in lista %}
                <tr>
                    <td>
                        <a href="/tratamiento/{{d.id }}/detalle">
                            {{d.nom}}
                        </a>
                    </td>
                    <td> {{d.zona}} </td>
                    <td> {{d.maq}} </td>
                    <td>
                        <a href="/producto/{{d.idP }}/detalle">
                            {{d.pro}}
                        </a>
                    </td>
                    <td> {{d.dur}} </td>
                    <td> {{d.pre}} </td>
                    <td> {{d.esp}} </td>
                     <td>
                        <a href="/tratamiento/{{d.id }}/eliminar">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% elif not lista %}
        <h3 class="empty-sms "> No hay Tratamientos registrados en el Sistema. </h3>
        {% endif %}
    </div>
{% endblock %}