{% extends 'index.html' %}
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'plantilla/stylePlantilla.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'plantilla/styleForm.css' %}">
        <title>Modificar maquina</title>
    {% endblock %}


</head>
<body>

 {% block content %}

    <div class="ext">

        {% if not buscado %}
            <form method="GET"> {% csrf_token %}

                {% for field in formId %}
                    <p> {{ field.label_tag }} {{ field }} </p>
                {% endfor %}

                <div>
                    <input type="submit" value="Buscar">

                    {% if messages %}

                        {% for message in messages %}
                            <li> {{ message }}</li>
                        {% endfor %}

                    {% endif %}

                </div>

            </form>
        {% endif %}

         {% if buscado %}

            <form method="POST">{% csrf_token %}
                 <p>
                     <label for="cantidad">Cantidad:</label>
                     <input type="text" name="cantidad" id="cantidad"  value="{{datos.can}}" required>
                 </p>

                 <p>
                     <label for="id_fecha">Fecha:</label>
                     <input type="text" name="fecha" value="{{datos.fec}}" required disabled id="id_fecha">
                 </p>

                 <p>
                     <label for="id_Estado">Estado:</label>
                     <select name="Estado" required id="id_Estado">
                         <option value="{{datos.idEstadoEle}}" selected>{{datos.nomEstadoEle}}</option>

                        {% for tipo in datosEstado %}
                            <option value="{{ tipo.id }}">{{ tipo.nom }}</option>
                        {% endfor %}
                    </select>
                 </p>

                 <p>
                     <label for="id_producto">Producto:</label>
                     <select name="producto" required id="id_producto">
                         <option value="{{datos.idProdEle}}" selected>{{datos.nomProdEle}}</option>

                        {% for tipo in datosProd %}
                            <option value="{{ tipo.id }}">{{ tipo.nom }}</option>
                        {% endfor %}
                    </select>
                 </p>

                 <p>
                     <label for="id_proveedor">Proveedor:</label>
                     <select name="proveedor" required id="id_proveedor">
                        <option value="{{datos.idProvEle}}" selected>{{datos.nomProvEle}}</option>

                        {% for tipo in datosProv %}
                            <option value="{{ tipo.id }}">{{ tipo.nom }}</option>
                        {% endfor %}
                    </select>
                 </p>

                <div>
                    <input type="submit" value="Actualizar">
                </div>

            </form>
        {% endif %}

    </div>

 {% endblock %}

</body>
</html>