{% extends 'index.html' %}
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'plantilla/stylePlantilla.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'plantilla/styleForm.css' %}">
        <title>Mi horario</title>
    {% endblock %}


</head>
<body>

 {% block content %}

    <div class="ext">
        <h1> Mi Horario </h1>
        <p>
            <label for="tipo">Tipo:</label>
            <input type="text" name="tipo" id="tipo" value="{{datos.tipo}}" readonly="readonly">
        </p>

        <p>
            <label for="inicio">Inicio:</label>
            <input type="text" name="inicio" id="inicio" value="{{datos.inicio}}" readonly="readonly">
        </p>
        <p>
            <label for="fin">Fin:</label>
            <input type="text" name="fin" id="fin" value="{{datos.fin}}" readonly="readonly">
        </p>

    </div>

 {% endblock %}

</body>
</html>