{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login empleado</title>
    <link rel="stylesheet" type="text/css" href="{% static 'plantilla/styleForm.css' %}">
</head>
<body>

    <div class="ext">

        <form method="POST"> {% csrf_token %}

            {{form.as_p}}

            <div>
                <input type="submit" value="Login">

                {% if messages %}

                    {% for message in messages %}
                        <li> {{ message }}</li>
                    {% endfor %}

                {% endif %}

            </div>

        </form>


    </div>

</body>
</html>