{% extends 'index.html' %}
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'plantilla/stylePlantilla.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'plantilla/styleForm.css' %}">
        <title>Modificar Empleado</title>
    {% endblock %}


</head>
<body>

 {% block content %}

    <div class="ext">

        {% if not buscado %}
            <form method="GET"> {% csrf_token %}

                {% for field in formDni %}
                    <p> {{ field.label_tag }} {{ field }} </p>
                {% endfor %}

                <div>
                    <input type="submit" value="Buscar">

                    {% if messages %}

                        {% for message in messages %}
                            <li> {{ message }}</li>
                        {% endfor %}

                    {% endif %}

                </div>

            </form>
        {% endif %}

         {% if buscado %}

            <form method="POST">{% csrf_token %}

                <p>
                    <label for="nombre">Nombre:</label>
                    <input type="text" name="nombre" id="nombre" maxlength="45"  value="{{datos.nom}}" required>
                </p>
                <p>
                    <label for="apellidos">Apellidos:</label>
                    <input type="text" name="apellidos" id="apellidos" maxlength="45" value="{{datos.ape}}" required>
                </p>

                <p>
                    <label for="email">Email:</label>
                    <input type="text" name="email" id="email" maxlength="45" value="{{datos.email}}" required>
                </p>

                <p>
                    <label for="direccion">Direccion:</label>
                    <input type="text" name="direccion" id="direccion" maxlength="45" value="{{datos.dir}}" required>
                </p>
                <p>
                    <label for="telefono">Telefono:</label>
                    <input type="text" name="telefono" id="telefono" maxlength="45" value="{{datos.tlf}}" required>
                </p>

                <p>
                    <label for="id_Tipo">Tipo:</label>

                    <select name="Tipo"id="id_Tipo">
                        <option value="{{datos.idTipoEle}}" selected>{{datos.nomTipoEle}}</option>

                        {% for tipo in datosTipos %}
                            <option value="{{ tipo.id }}">{{ tipo.nom }}</option>
                        {% endfor %}
                    </select>
                </p>

                <p>
                    <label for="password">Contraseña:</label>
                    <input type="text" name="password" id="password" maxlength="45" value="{{datos.pass}}" required>
                </p>

                <div>
                    <input type="submit" value="Actualizar">
                </div>

            </form>
        {% endif %}

    </div>

 {% endblock %}

</body>
</html>