{% extends 'index.html' %}
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'plantilla/stylePlantilla.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'plantilla/styleForm.css' %}">
        <title>Modificar Publicidad</title>
    {% endblock %}


</head>
<body>

 {% block content %}

    <div class="ext">

        {% if not buscado %}
            <form method="GET"> {% csrf_token %}

                {% for field in formId %}
                    <p> {{ field.label_tag }} {{ field }} </p>
                {% endfor %}

                <div>
                    <input type="submit" value="Buscar">

                    {% if messages %}

                        {% for message in messages %}
                            <li> {{ message }}</li>
                        {% endfor %}

                    {% endif %}

                </div>

            </form>
        {% endif %}

         {% if buscado %}

            <form method="POST">{% csrf_token %}

                <p>
                     <label for="id_fechainicio">Inicio:</label>
                     <input type="text" name="fechainicio" value="{{datos.ini}}" required id="id_fechainicio">
                </p>

                <p>
                     <label for="id_fechafin">Fin:</label>
                     <input type="text" name="fechafin" value="{{datos.fin}}" required id="id_fechafin">
                 </p>
                <p>
                     <label for="id_promocion">Promocion:</label>
                     <select name="promocion" required id="id_promocion">
                         <option value="{{datos.idProEle}}" selected>{{datos.nomProEle}}</option>

                        {% for tipo in datosPromocion %}
                            <option value="{{ tipo.id }}">{{ tipo.nom }}</option>
                        {% endfor %}
                    </select>
                 </p>

                 <p>
                     <label for="id_cliente">Cliente:</label>
                     <select name="cliente" required id="id_cliente">
                         <option value="{{datos.idCliEle}}" selected>{{datos.nomCliEle}}</option>

                        {% for tipo in datosCliente %}
                            <option value="{{ tipo.id }}">{{ tipo.nom }}</option>
                        {% endfor %}
                    </select>
                 </p>

                <div>
                    <input type="submit" value="Actualizar">
                </div>

            </form>
        {% endif %}

    </div>

 {% endblock %}

</body>
</html>