{% extends "ebase.html" %}

{% block content %}
    {% if messages %}
        <div class="alert alert-warning" role="alert">
            {% for message in messages %}
                <li> {{ message }}</li>
            {% endfor %}
        </div>
    {% endif %}
        <h1 class="subtitle">Pedir Cita</h1>

        <form class="create post-form" method="POST">

            <p>
                <label for="dni">Dni :</label>
                <input type="text" name="cliente" id="dni" maxlength="9" required>
            </p>

            <p>
                <label for="id_fecha">Fecha:</label>
                <input type="date" name="fecha" required id="id_fecha">
            </p>

            <p>
                <label for="id_tratamietno">Tratamietno:</label>
                <select name="tratamietno" required id="id_tratamietno">
                    <option value="" selected>Selecciona</option>

                  {% for tipo in datosTratamiento %}
                    <option value="{{ tipo.id }}">{{ tipo.nom }}</option>
                  {% endfor %}

                </select>
            </p>

            <div class="row ">
                <input type="submit" class="btn " value=Continuar>
            </div>

            <p>
              <label for="id_hora">Hora:</label>
              <select name="hora" required id="id_hora">
                  <option value="" selected>Selecciona</option>

                  {% for tipo in datosHora %}
                    <option value="{{ tipo.id }}">{{ tipo.nom }}</option>
                  {% endfor %}

             </select>
            </p>

            <div class="row ">
                <input type="submit" class="btn " value=Continuar>
            </div>

            <p>
                <label for="id_empleado">Empleado:</label>
                <select name="empleado" required id="id_empleado">
                    <option value="" selected>Selecciona</option>
                    <option value="0">---</option>

                    {% for tipo in datosEmpleado %}
                        <option value="{{ tipo.id }}">{{ tipo.nom }}</option>
                    {% endfor %}

                </select>
            </p>

            <div class="row ">
                <input type="submit" class="btn " value=Pedir>
            </div>
        </form>

{% endblock %}