{% extends "ebase.html" %}

{% block content %}
    <h1 class="subtitle">Citas</h1>
    <div class="container list-citas">
        {% if lista %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Fecha</th>
                    <th>Estado</th>
                    <th>Cliente</th>
                    <th>Empleado</th>
                    <th>Tratamiento</th>
                    <th>Entrada</th>
                    <th>Salida</th>
                </tr>
            </thead>
            <tbody>
                {% for d in lista %}
                <tr>
                    <td>
                        {{d.id}}
                    </td>
                    <td>
                        {{d.fecha}}
                    </td>
                    <td>
                        {{d.estado}}
                    </td>
                    <td>
                        {{d.cliente}}
                    </td>
                    <td>
                        {{d.empleado}}
                    </td>
                    <td>
                        {{d.trat}}
                    </td>
                    <td>
                        {{d.entrada}}
                    </td>
                    <td>
                        {{d.salida}}
                    </td>
                    <td>
                        <a href="/cita/{{d.id }}/detalle">
                            <span class="glyphicon glyphicon-option-horizontal"></span>
                        </a>
                    </td>
                     <td>
                        <a href="/cita/{{d.id }}/eliminar">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% elif not lista %}
        <h3 class="empty-sms "> No hay Citas en el sistema. </h3>
        {% endif %}
    </div>
{% endblock %}