{% extends 'index.html' %}
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'plantilla/stylePlantilla.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'plantilla/styleForm.css' %}">
        <title>Listar publicidad</title>
    {% endblock %}


</head>
<body>

 {% block content %}

    <div class="ext">
        <table>
            <caption>Lista de publicidad </caption>

            <tr>
                <th> Id</th>
                <th> Inicio</th>
                <th> Fin</th>
                <th> Promocion</th>
                <th> Ciente</th>
            </tr>
             {% for d in datos %}
                <tr>
                     <td> {{d.id}} </td>
                     <td> {{d.ini}} </td>
                     <td> {{d.fin}} </td>
                     <td> {{d.pro}} </td>
                     <td> {{d.cli}} </td>
                </tr>
             {% endfor %}
        </table>
    </div>

 {% endblock %}

</body>
</html>