{% extends "base.html" %}

{% block content %}
<div class="container form-login">
        <h3>Entrada</h3>
        <div class="row">
            <form method="post">
               {% csrf_token %}
               {{ form.as_p }}
               <div>
                   <button class="btn col-md-12 " type="submit">Entrar</button>
                   <small class="text-muted col-md-12">Aun no te has registrado?
                            <a href="/registrar">Registar</a>
                   </small>
               </div>
            </form>
        </div>
    </div>
{% endblock %}