<!DOCTYPE html>
<html lang="en">
<head >
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  {% block title %}<title>CLEO</title>{% endblock %}
</head>

<body>
  <header>
    <div class="head-img row">

    </div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">CLEO</a>
            </div>
            <ul class="nav navbar-nav">
            <li  class="home">
                <a href="/"><span class="glyphicon glyphicon-home"></span></a>
            </li>
             <li class=" dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Empleado
                </a>
                <ul class="dropdown-menu">
                  <li><a href="/empleado/nuevo">Nuevo Empleado</a></li>
                  <li><a href="/empleado/lista">Ver Empleados</a></li>
                </ul>
             </li>


            <!--
            <li><a>Cliente</a></li>
            <li><a>Maquina</a></li>
            <li><a>Sala</a></li>
            <li><a>Producto</a></li>
            <li><a>Proveedor</a></li>
            <li><a>Promocion</a></li> -->
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-user"></span> Mi Perfil
              </a>
            </li>
            <li>
                <a href="#">
                  <span class="glyphicon glyphicon-log-out"></span> Salir
                </a>
            </li>
          </ul>
        </div>
    </nav>


  </header>

 <div class="container">
   {% block content %}<!-- default content text (typically empty) -->{% endblock %}
 </div>

  <footer> Created by <strong>Silvia Martin</strong> & <strong>Irene Ventura</strong></footer>
</body>
</html>