{% extends "empleado/base.html" %}

{% block content %}
    {% if messages %}
        <div class="alert alert-warning" role="alert">
            {% for message in messages %}
                <li> {{ message }}</li>
            {% endfor %}
        </div>
    {% endif %}
        <h1 class="subtitle">Asignar Horario</h1>
        <form class="create post-form" method="POST">{% csrf_token %}

            <p>
                <label for="id_empleado">Empleado:</label>
                <select name="empleado" id="id_empleado" >
                    <option value="{{ datos.idEmpEle }}">{{ datos.nomEmpEle }}</option>
                </select>
            </p>

            <p>
                <label for="id_horario">Horario:</label>
                <select name="horario" required id="id_horario">
                    <option value="{{ datos.idHorEle }}">{{ datos.nomHorEle  }}</option>
                </select>
            </p>

            <p>
                <label for="id_inicio">Inicio:</label>
                <input type="text" name="inicio" value="{{ datos.ini }}" required readonly id="id_inicio">
            </p>

            <p>
                <label for="id_fin">Fin:</label>
                <input type="text" name="fin" value="{{ datos.fin }}" required readonly id="id_fin">
            </p>

            <div class="row ">
            <input type="submit" class="btn " value=Continuar>
            </div>

            <p>
                <label for="id_libra">Libra:</label>
                <select name="libra" required id="id_libra">
                    <option value="" selected>Selecciona</option>

                    {% for tipo in fechas %}
                        <option value="{{ tipo.id }}">{{ tipo.nom }}</option>
                    {% endfor %}
                </select>
            </p>

            <p>
                <label for="id_dobla">Dobla:</label>
                <select name="dobla" required id="id_dobla">
                    <option value="" selected>Selecciona</option>

                    {% for tipo in fechas %}
                        <option value="{{ tipo.id }}">{{ tipo.nom }}</option>
                    {% endfor %}
                </select>
            </p>

            <div class="row ">
            <input type="submit" class="btn " value=Asignar>
            </div>

        </form>





{% endblock %}