{% extends "ebase.html" %}

{% block content %}
    <h1 class="subtitle">Modificar Cliente</h1>
        <form class="create  post-form" method="POST">{% csrf_token %}

            <p>
                <label for="nombre">Nombre :</label>
                <input type="text" name="nombre" id="nombre" maxlength="45" value="{{data.nom}}" required>
            </p>

            <p>
                <label for="apellidos">Apellidos :</label>
                <input type="text" name="apellidos" id="apellidos" maxlength="45" value="{{data.ape}}" required>
            </p>

            <p>
                <label for="email">Email :</label>
                <input type="text" name="email" id="email" maxlength="45" value="{{data.email}}" required>
            </p>

            <p>
                <label for="direccion">Direccion :</label>
                <input type="text" name="direccion" id="direccion" maxlength="45" value="{{data.dir}}" required>
            </p>

            <p>
                <label for="telefono">Telefono :</label>
                <input type="text" name="telefono" id="telefono" maxlength="45" value="{{data.tlf}}" required>
            </p>

            <div class="row ">
                <input type="submit" class="btn " value="Modificar">
            </div>
        </form>
{% endblock %}